repos:
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-docstrings
          - pep8-naming
        args:
          - --max-line-length=88
          - --extend-ignore=D100,D101,D102,D103,D104,D105,D106,D107
